@model SGMED_UNAPEC.Models.Tipofarmaco

@{
    ViewData["Title"] = "Crear - Tipo de Fármaco ";
}

<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <br />
            <h5 class="card-title text-center">Nuevo Tipo de Fármaco</h5>
            <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12">
                   <label for="EstadoId" class="form-label">Nombre del fármaco</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
                <div class="col-md-12">
                    <label for="EstadoId" class="form-label">Estado</label>
                    <select asp-for="EstadoId" id="estado" class="form-select">
                        <option selected>Seleccionar...</option>
                        @foreach (var estados in ViewBag.Estado)
                        {
                            <option value="@estados.EstadoId">@estados.Descripcion</option>
                        }

                    </select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>
                <br />
                <div class="text-center">
                    <input type="submit" value="Crear" class="btn btn-success" />
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                </div>
        </form>
    </div>
</div>

    </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
